.spacer {
  flex: 1 1 auto;
}

.user-menu {
  margin-right: 8px;

  .user-avatar-button {
    padding: 4px;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }

    .user-avatar {
      cursor: pointer;
    }
  }
}
