// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

// Define dark theme
html.dark-theme {
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      theme-type: dark,
    )
  );
}

// Define light theme
html.light-theme {
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
    )
  );
}

// Default theme (system preference) - applied to html by default when no theme class is present
html:not(.light-theme):not(.dark-theme) {
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
    )
  );

  @media (prefers-color-scheme: dark) {
    @include mat.theme(
      (
        color: (
          primary: mat.$cyan-palette,
          tertiary: mat.$orange-palette,
        ),
        theme-type: dark,
      )
    );
  }
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
